<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
    <link rel="stylesheet" href="/css/quiz.css">
    
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <h1 id="quiz-title" role="button">Traffic Sign Quiz</h1>
        <div class="nav-right">
            <a href="/profile">
                <img src="/images/profile-icon.png" alt="Profile">
            </a>
        </div>
    </nav>
    <h1>Quiz History</h1>
    <ul id="history"></ul>
    <button id="logout-btn" type="button">Logout</button>

    <!-- external scripts -->
    <script type="module" src="/js/profile.js"></script>
    <script type="module" src="/js/global-nav.js"></script>
</body>
</html>
