<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Traffic Sign Quiz</title>
    <script type="module" src="/js/quiz.js"></script>
</head>
<body>
    <div class="quiz-container">
        <div class="timer">
            Time Left: <span id="timer">180</span> seconds
        </div>
        <button id="start-btn" type="button">Start Quiz!</button>
        <form id="quiz-form">
        </form>
        <button id="submit-btn" type="button">Submit Quiz</button>
        <div id="result" class="result"></div>
        <button id="retry-btn" type="button" style="display:none;">Retry Quiz</button>
    </div>
    <script src="js/quiz.js"></script>
</body>
</html>
